


/** */
.c2dgrid-wrapper {
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 16px 24px 16px 24px;
	/* background-color: white; */
	overflow-y: scroll;
}

.c2dgrid-core {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.c2dgrid-card-wrapper {
	box-sizing: content-box;
	position: relative;
	padding: 14px;
	/* z-index: 32; */
}

.c2dgrid-card-shape {
	box-sizing: content-box;
   
}



/* <card> */

.c2dgrid-card {
	padding: 0px;
	margin: 8px;
}


.c2dgrid-card-legend {
	color: rgb(0, 0, 76);
	font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.016em;
  	text-align: center;
	margin: 4px 8px 8px 8px;
	max-height: 32px;
	text-overflow: ellipsis;
}

.c2dgrid-card-chart {
	font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
    font-weight: 400;
	margin: 0px;
	padding: 0px;
}



/* </card> */